.container {
  position: relative;
  justify-content: center;
  align-items: center;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
  display: flex;
  border-bottom: solid 1px;
  height: 4rem;
}

.grid {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  min-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: center;
  background: linear-gradient(to top, #071824 0%, #072336);
  border-radius: 5px;
  width: 300px;
  height: 330px;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

.card .btnholder {
  justify-content: center;
  display: flex;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgb(152, 255, 93);
}

.card h2 {
  margin: 0 0 0 0;
  font-size: 1.2rem;
  text-align: center;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

.logo {
  padding: 3vh 3vw;
  text-align: left;
  width: 20vw;
}

.logo img {
  height: auto;
  width: 4rem;
}
.button {
  margin: 3px;
  color: whitesmoke;
  border-color: transparent;
  border-radius: 5px;
  border-width: 0;
  background-color: #657bf8;
  min-width: 80px;
  min-height: 30px;
  box-shadow: 0px 4px 4px 0px #172231;
}

.button:hover {
  color: white;
  background-color: #dd5f24;
  transition: all ease-in-out 250ms;
}

.button:disabled {
  color: white;
  background-color: rgb(200, 200, 200);
  box-shadow: 0px 0px 0px 0px #888888;
  font-weight: bold;
}

.buttonGroup {
  color: inherit;
  background-color: rgb(22, 54, 70);
  border-radius: 0px;
  border: 0px;
  min-width: 80px;
  min-height: 30px;
}

.buttonGroup:hover {
  color: rgb(56, 56, 56);
  background-color: #bbffae;
  transition: all ease-in-out 350ms;
}
.buttonGroup:focus,
.buttonGroup:active {
  color: rgb(255, 104, 104);
  font-weight: bold;
}

.buttonGroupSelected {
  color: rgb(56, 56, 56);
  background-color: rgb(152, 255, 93);
  border-radius: 0px;
  border: 0px;
  min-width: 80px;
  min-height: 30px;
  font-weight: bold;
}

.loginbutton {
  margin-left: auto;
  margin-right: 1rem;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  color: whitesmoke;
  background-color: #425b80;
  border-color: transparent;
  border-radius: 5px;
  border-width: 0;
  min-width: 80px;
  min-height: 30px;
  max-height: 2.8rem;
  position: relative;
  float: right;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.loginbutton:hover {
  color: #fff;
  background-color: #dd5f24;
  transition: all ease-in-out 200ms;
}

.polaroid {
  width: 284px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #bfbfbf;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.border {
  margin: 3px;
  text-align: center;
  justify-content: center;
  border-radius: 3px;
  background-color: rgb(226, 198, 43);
}

.winnerBox {
  margin: 3px;
  padding: 5px;
  text-align: center;
  justify-content: center;
  border-radius: 3px;
  color: #bbffae;
  background-color: rgb(22, 54, 70);
  min-height: 30px;
  font-size: 1rem;
}

.infoBox {
  margin: 3px;
  padding: 5px;
  text-align: center;
  justify-content: center;
  border-radius: 3px;
  color: #bbffae;
  background-color: rgb(22, 54, 70);
  min-height: 110px;
  font-size: 1rem;
}

.form {
  margin: 10px;
  padding: 5px;
  text-align: center;
  justify-content: center;
  background-color: inherit;
}

.form input {
  color: whitesmoke;
  background-color: rgb(22, 54, 70);
  font-size: 1rem;
  border: 1px solid #eee;
  border-radius: 5px;
  height: 2rem;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
